@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#carselection {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background: rgb(0, 212, 255);


  background: linear-gradient(45deg, rgba(0, 212, 255, 1) 0%, rgba(11, 3, 45, 1) 100%);


  background-image: url(../../../public/images/carselectioon.svg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.homo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner-image1 {
  background-image: url(../../../public/images/passengercar2.svg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}

.banner-image2 {
  background-image: url(../../../public/images/vans2.svg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}


.homo h1 {
  font-family: 'Audiowide';
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.1rem;
}

.homo p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  overflow-y: hidden;
  height: 60px;
  width: 150px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}


.btn+.btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: #fff;
  border: 1px solid #0E27E6;
  transition: all .3s ease;

}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all .3s ease;
}

@media screen and (max-width:1150px) {


  .homo {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  #carselection {
    height: 150vh;
  }

}

@media screen and (max-width:600px) {

  #carselection {
    height: 160vh;
  }

  .card-container {
    width: 300px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .banner-image2 {
    transform: scale(1);
  }


}